@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family:sans-srif;
}

.hero{
	height:100%;
	width: 100%;
	background-image: url('../resources/background.jpg');
 	background: linear-gradient(rgba(0,0,0,0,4),rgba(0,0,0,0,0.4));
 	background-position: center;
	background-size: cover;
	position: absolute;
}

.form-box {
	width: 380px;
	height: 600px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #B2AFAC;
	border-radius: 30px;
}

.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn {
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: goldenrod;
/* 	background: linear-gradient(to right, #FFCE2B, #B2AFAC);
 */	border-radius: 30px;
	transition: .5s;
}

.input-group {
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #989;
	outline: none;
	background: transparent;	
}

.submit-btn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: goldenrod;
/*  	background: linear-gradient(to right, #FFCE2B, #B2AFAC);
 */	border: 0;
	outline: 0;
	border-radius: 30px;
}

#login {
	left:50px;
}


#register {
	left: 450px;
	top:80px;
}

/* Errors */
.text-danger {
	color: crimson;
}